---
title: HTML5 Boilerplate Yeoman Assemble
---

<!-- Add your site or application content here -->
<p>Hello world! This is HTML5 Yeoman Assemble.</p>

{{>partial}}


<br/>
<br/>
{{#each user}}
	{{name}}
{{/each}}